<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.scss">
</head>
<body>
    <div id="app">
        <input
            @keydown.enter="send"
            type="text"
            v-model="teacher"
            placeholder="Nauczyciel">

            <main>
                <div class="lessons">
                    <span>Poniedziałek</span>
                    <span>Wtorek</span>
                    <span>Środa</span>
                    <span>Czwartek</span>
                    <span>Piątek</span>
                </div>
                <div
                    v-for="(hour, i) in teachers"
                    :key="i"
                    class="lessons">
                    <span
                        v-for="(lesson, j) in hour"
                        :key="j"
                        :data-day="lesson.day"
                        class="lesson"
                        :style="{
                            gridColumnStart: lesson.day
                        }"
                        :data-toolpit="
                            `${lesson.teacher}
                            prowadzi ${lesson.subject}
                            w sali ${lesson.room}`
                            ">
                        {{ lesson.subject }} w sali {{ lesson.room }}
                    </span>
                </div>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
</body>
</html>