<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.scss">
</head>
<body>
    <div id="app">
        <input
            @keydown.enter="send"
            type="text"
            v-model="teacher"
            placeholder="Nauczyciel">

            <main>
                <table>
                    <div
                        v-for="(hour, i) in teachers"
                        :key="i">
                        <span
                            v-for="(day, j) in hour"
                            :key="j"
                            data-toolpit="ok">
                            | {{ day.day | weekDay }} {{ i | hoursRange }} |
                        </span>
                    </div>
                </table>
            </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
</body>
</html>